<mtapp:setting
	id="amazon_s3_access_key"
	label="<__trans phrase="Access Key">"
>
<input type="text" id="amazon_s3_access_key" name="amazon_s3_access_key" value="<mt:Var name="amazon_s3_access_key" />" />
</mtapp:setting>

<mtapp:setting
	id="amazon_s3_secret_key"
	label="<__trans phrase="Secret Key">"
>
<input type="text" id="amazon_s3_secret_key" name="amazon_s3_secret_key" value="<mt:Var name="amazon_s3_secret_key" />" />
</mtapp:setting>

<mtapp:setting
	id="amazon_s3_bucket"
	label="<__trans phrase="Bucket">"
>
<input type="text" id="amazon_s3_bucket" name="amazon_s3_bucket" value="<mt:Var name="amazon_s3_bucket" />" />
</mtapp:setting>

<mtapp:setting
	id="amazon_s3_distribution_domain_names"
	label="<__trans phrase="Distribution domain names (Optional)">"
>
<input type="text" id="amazon_s3_distribution_domain_names" name="amazon_s3_distribution_domain_names" value="<mt:Var name="amazon_s3_distribution_domain_names" />" /><br />
<__trans phrase="Domain names can be specified by delimiting this value by the comma." /> 
</mtapp:setting>

<mtapp:setting
	id="amazon_s3_cdn_add_hash_value"
	label="<__trans phrase="Append Random Value">"
>
<input type="checkbox" id="amazon_s3_cdn_add_hash_value" name="amazon_s3_cdn_add_hash_value" value="1" <mt:If name="amazon_s3_cdn_add_hash_value">checked="checked"</mt:If> /><br />
<__trans phrase="Append random value to the generated URL. Like '?ts=abcdefg'. This feature enables to override existing asset. You may need to do update your CDN settings." />
</mtapp:setting>

<mtapp:setting
	id="amazon_s3_suffixes"
	label="<__trans phrase="Suffixes">"
>
<input type="text" id="amazon_s3_suffixes" name="amazon_s3_suffixes" value="<mt:Var name="amazon_s3_suffixes" />" /><br />
<__trans phrase="Suffixes can be specified by delimiting this value by the comma." /><br />
<__trans phrase="All files will be uploaded if this value is empty." /> 
</mtapp:setting>

<mtapp:setting
	id="amazon_s3_for_all_template"
	label="<__trans phrase="For all template">"
>
<input type="checkbox" id="amazon_s3_for_all_template" name="amazon_s3_for_all_template" value="1" <mt:If name="amazon_s3_for_all_template">checked="checked"</mt:If> /><br />
<__trans phrase="Upload all template to S3." /> 
</mtapp:setting>
